$font-family: 'Playfair Display', serif;

$color-one: red;
$color-two: yellow;
$color-three: pink;
$color-four: green;

.header {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: grey;
    }

h1 {
    background: red;
}

.navigation {
    background: greenyellow;
    padding-top: 25px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 auto;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-three;
}

.navigation a:hover {
    color: black;
}

.navigation ul ul li {
    display: block;
    margin-bottom: 12px;
}

.navigation li ul {
    display: none;
    background-color: purple;
    Z-index: 1;
}

.navigation ul li {
    margin: 0 24px;
}

.navigation li:hover ul {
    position: absolute;
    display: block;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;;
}

.navigation li ul a {
    color: $color-one;
    padding: 0 24px;
}
  
.splash::after {
    position: absolute;
    content: '';
    background: rgba(0.1, 0, 0, 0.5);
    display: block;
    width: 100%;
    height: 100%;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 0;
}

.splash {
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') 
}
   
   .splash>* {
    z-index: 10;
    position: relative;
    text-align: center;
}

.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash i {
    border-radius: 50%;
    font-size: 30px;
    background: $color-one;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color-two;
}

.page-title {
    font-size: 80px;
    margin: 48px 0 0 0;
    color: $color-three;
    position: relative;
    font:$font-family;
    text-align: center;
} 

.page-title:hover {
    color: $color-four;
    transition: 1s;
   
}

.page-subtitle {
    color: $color-two;
    font-size: 32px;
    margin: 48px 0 0 0;
   
}

.page-subtitle:hover {
    color: $color-three;
    transition: 1s;
}

.btn {
    text-decoration: none;
    display: inline-block;
    border: solid 5px gold;
    margin-top: 50px;
    padding: 32px 46px;
    font-size: 45px;
}

.btn:hover {
    background-position: 0 100%;
    color: $color-one;
}

.section-title {
    text-align: center;
    margin: 24px;
    color: rgb(8, 8, 8);
    line-height: 1.2;
    font: bold;
    font-size: 32px;
}

.section-subtitle {
    text-align: center;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    font-style: italic;
    margin-bottom: 50px;
    font-style: italic;
}

  .section-element i {
    background-color: rgb(254, 209, 54);
    border-radius: 50%;
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 40%;
    padding: 0 15px;
    color: $color-two;
  }
  
  .row img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.bread {
    margin: 50px;
}

.row {
    margin: 10% 0;
}

.title-gallery {
    text-align: center;
}

.gallery-item p {
   color: red;
   text-align: center;
}

.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    object-fit: cover;
    li {
        display: inline-block;
        font-size: 0;
        margin: 0 50px;
    }
    i {
        display: flex;
        justify-content: space-around;
        padding: 15px 15px;
        font-size: 24px;
        width: 60px;
        height: 60px;
        background: $color-two;
        border-radius: 60px;
        color: $color-one;
        text-decoration: none;
        transition: 1s;
    }
}

ul {
    justify-content: space-between;
}

i:hover {
    color: $color-two;
    background: $color-one;
    transform: scale(1.3);
    opacity: 0.9;
}